@import "common.scss";
*{
    box-sizing:border-box;
}
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-size:pxTorem(14px);
}
header{
    width:100%;
    display:flex;
    flex-direction: column;
    .head{
        width:100%;
        height:pxTorem(44px);
        border-bottom:pxTorem(1px) solid #efefef;
        display:flex;
        align-items:center;
        padding:0 pxTorem(15px);
        input{
            flex:1;
        }
        span{
            padding:0 pxTorem(15px);
        }
    }
    ul{
        position: absolute;
        top:pxTorem(44px);
        left:0;
        width:100%;
        background:#fff;
        padding:pxTorem(10px);
        z-index:99;
        li{
            line-height:pxTorem(30px);
        }
        &.show{
            display:none;
        }
    }
    .nav{
        min-height:100%;
        border-bottom:pxTorem(1px) solid #ccc;
        span{
            display:inline-block;
            padding:pxTorem(5px) pxTorem(15px);
            background:orange;
            color:#fff;
            margin:pxTorem(10px);
            border-radius:pxTorem(8px);
        }
        &.navshow{
            display:none;
        }
    }
  
}
section{
    flex:1;
    overflow: hidden;
    .con{
        position: relative;
        .list{
            li{
                width:100%;
                height:pxTorem(100px);
                border-bottom:pxTorem(1px) solid #ccc;
                padding:0 pxTorem(10px);
                display:flex;
                align-items:center;
                img{
                    width:pxTorem(50px);
                    height:pxTorem(50px);
                    margin-right:pxTorem(15px)
                }
            }
       }
       .up{
           position: absolute;
           left:0;
           bottom:pxTorem(-50px);
           width:100%;
           height:pxTorem(50px);
           background:#ccc;
           text-align:center;
           line-height:pxTorem(50px);
           color:#fff;
           display:none;
       }
    }
   
}
