@import "common.scss";
*{
    box-sizing:border-box;
}
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-size:pxTorem(16px);
}
header{
    width:100%;
    height:pxTorem(50px);
    padding:0 pxTorem(10px);
    display:flex;
    padding:0 pxTorem(15px);
    border-bottom:pxTorem(1px) solid #efefef;
    justify-content:space-between;
    align-items:center;
    h2{
        font-weight:bold;
    }
    &>span{
        color:#ccc;
        b{
            color:lightseagreen;
            font-size:pxTorem(26px);
        }
    }
}
section{
    flex:1;
    padding:pxTorem(15px);
    .title{
        line-height: pxTorem(35px);
    }
    ul{
        margin:pxTorem(15px) 0;
        li{
            display:flex;
            line-height:pxTorem(40px);
            span{
                width:pxTorem(40px);
                height:pxTorem(40px);
                line-height:pxTorem(40px);
                text-align: center;
                border-radius:50%;
                color:lightseagreen;
                border:pxTorem(1px) solid lightseagreen;
                margin-right:pxTorem(30px);
                &.active{
                    color:#fff;
                     background:rgb(52, 204, 52);
                    border:none;
                }
                &.error{
                    color:#fff;
                    background:purple;
                    border:none;
                }
            }
            margin:pxTorem(30px) 0;
        }
    }
    .con{
        color:rgb(52, 204, 52);
        display:none;
        &.show{
            display:block;
        }
    }
   
}
footer{
    width:100%;
    height:pxTorem(70px);
    padding:pxTorem(15px) pxTorem(30px);
    display:flex;
    justify-content: center;
    align-items:center;
    border-top:pxTorem(1px) solid #efefef;
    span{
        width:100%;
        height:100%;
        background:lightseagreen;
        color:#fff;
        text-align:center;
        line-height:pxTorem(40px);
        border-radius:pxTorem(15px);
        font-size:pxTorem(16px);
    }
    
}
.mask{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    min-height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    .mask-con{
        width:pxTorem(300px);
        height:pxTorem(300px);
        background:#fff;
        border-radius:pxTorem(5px);
        padding:pxTorem(10px) 0;
        position: relative;
        display:flex;
        flex-direction: column;
        .close{
            position: absolute;
            right:pxTorem(10px);
            top:0;
            font-size:pxTorem(20px);
        }
        h2{
            line-height:pxTorem(40px);
            text-align: center;
            font-weight:bold;
        }
        ol{
            display:flex;
            flex-shrink:0;
            flex-wrap: wrap;
            li{
                margin:pxTorem(10px);
                padding:pxTorem(10px) pxTorem(15px);
                border:pxTorem(1px) solid #efefef;
                border-radius:pxTorem(10px);
                font-size:pxTorem(14px);
                &.bg{
                   background: lightseagreen;
                   border:pxTorem(1px) solid lightseagreen;
                   color:#fff;
                }
            }
        }
       p{
           padding:0 pxTorem(15px);
           width:100%;
           height:pxTorem(70px);
           textarea{
               width:100%;
               height:100%;
               border:pxTorem(1px) solid #ccc;
               border-radius:pxTorem(5px);
               font-size:pxTorem(16px);
               padding:pxTorem(5px);
           }
           margin-bottom:pxTorem(25px);
       }
       &>span{
             flex:1;
             border-top:pxTorem(1px) solid #ccc;
             text-align:center;
             line-height:pxTorem(30px);
       }
    }
    &.hidden{
        display:none;
    }
}