@import "common.scss";
*{
    box-sizing:border-box;
}
.wrap{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    font-size:pxTorem(14px);
    position: relative;
    overflow: hidden;
}
header{
      width:100%;
      height:pxTorem(40px);
      display:flex;
      padding:0 pxTorem(15px);
      background:rgb(39, 39, 185);
      justify-content:space-between;
      font-size:pxTorem(20px);
      color:#fff;
      align-items:center;
      span{
          width:pxTorem(30px);
      }
}
section{
     flex:1;
     overflow: hidden;
     .content{
           display:flex;
           flex-direction: column;
           h2{
               line-height:pxTorem(40px);
               border-bottom:pxTorem(1px) solid #ccc;
               padding:0 pxTorem(10px);
               font-weight:bold;
               font-size:pxTorem(16px);
           }
           p{
               padding:pxTorem(10px);
               line-height:pxTorem(25px);
           }
     }
}
footer{
    width:100%;
    height:pxTorem(50px);
    padding:0 pxTorem(15px);
    background:#efefef;
    display:flex;
    justify-content:space-between; 
    border-top:pxTorem(1px) solid #ccc; 
    .left{
        p{
            line-height:pxTorem(25px);
        }
    }
    .right{
        display:flex;
        align-items: center;
        span{
            font-size:pxTorem(30px);
            margin:0 pxTorem(5px);
            color:#ccc;
            &.icon-favoritesfilling{
                color: rgb(39, 39, 185);
                font-size:pxTorem(28px);
            }
        }
    }
}
